<c-row>
  <c-col xs>
    <div class="d-flex justify-content-end mb-3">
      <a routerLink="/projects/add" class="btn btn-outline-primary">
  + Add Project
</a>
    </div>
    <c-card class="mb-4">
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary text-center ">
              <!-- <svg cIcon name="cilPeople"></svg> -->
               User
            </th>
            <th class="bg-body-tertiary">Project Name</th>
            <th class="bg-body-tertiary text-center">Location</th>
            <th class="bg-body-tertiary text-center">Details</th>
            <th class="bg-body-tertiary text-center">Status</th>
            <th class="bg-body-tertiary text-center">Start Date</th>
            <th class="bg-body-tertiary">Last Update</th>
            <th class="bg-body-tertiary text-center">Edit</th>
          </tr>
          </thead>
          <tbody>
            @for (user of users; track user.name; let i = $index) {
              <tr>
                <td class="text-center">
                  <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}" />
                </td>
                <td>
                  <div>{{ user.name }}</div>
                  <div class="small text-body-secondary text-nowrap">
                  <span>
                    {{ user.state }} | Registered: {{ user.registered }}
                  </span>
                  </div>
                </td>
                <td class="text-center">
                  <svg
                    cIcon
                    id="{{ user.country + user.name }}"
                    name="cif{{ user.country }}"
                    size="xl"
                    title="{{ user.country }}"
                  ></svg>
                </td>
                <td>
                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div class="float-start">
                      <strong>{{ user.usage }}%</strong>
                    </div>
                    <div class="float-end ms-1 text-nowrap">
                      <small class="text-body-secondary">
                        {{ user.period }}
                      </small>
                    </div>
                  </div>
                  <c-progress thin [value]="user.usage" color="{{ user.color }}" aria-label="Usage" />
                </td>
                <td class="text-center">
                  <div class="small text-body-secondary">20/05/26</div>
                </td>
                <td>
                  <div class="small text-body-secondary">Last Update</div>
                  <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                </td>
                <td>
                  <button
                      cButton
                      class="px-4"
                      color="primary"
                      type="button">
                      Edit
                    </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
